.header {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: #50708A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between; /* Ajoutez cette ligne pour espacer les éléments */
}

.logo {
  height: 70px; /* Ajustez la hauteur du logo selon vos besoins */
  margin-right: 20px;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 10px;
  padding-top: 10px
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 40px;
  transition: background-color 0.3s;
}

.nav a:hover {
  background-color: #555;
}

.boutonLogImage{
  width: 50px;
}