/* Quiz.module.css */
body {
    background-color: #fdf5e6;
  }
  
  .backgroundImage {
    width: 100vw; 
    height: 400px; 
    background-image: url('../assets/guirlande.png'); 
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center;
    opacity: 0.5;
    position: absolute; /* Position absolute pour placer l'image derrière */
    top: 10%; /* Aligner en haut */
    left: 0; /* Aligner à gauche */
    z-index: 1; /* Assurez-vous que l'image de fond est derrière les autres éléments */
  }