/* QuizBox.module.css */
body {
  background-color: #fdf5e6;
}

.quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.progress {
  display: flex;
  align-items: center;
}

.current, .scoreValue {
  font-size: 24px;
  background-color: #FBD7D5;
  color: rgb(0, 0, 0);
  border-radius: 5%;
  padding: 10px;
  margin-right: 10px;
}

.total, .totalValue {
  font-size: 24px;
  color: #333;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px; /* Ajouter un espace sous le titre */
}

.questionBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  min-width: 600px;
  max-width: 600px;
  z-index: 2; /* Placer au-dessus de l'image de fond */
  position: relative; /* Assurez-vous que la position est relative pour le z-index */
}

.questionBox .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.questionText {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif; /* Ajouter la police Montserrat */
  font-weight: 500; /* Utiliser un poids de police plus gras */
}

.answer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer:hover {
  background-color: #f3f4f6;
}

.answer.selected {
  background-color: #FBD7D5;
}

.answerLetter {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; /* Ajouter la police Montserrat */
  font-weight: 500; /* Utiliser un poids de police plus gras */
  background-color: #FBD7D5;
  color: #333;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 15px;
}

.answerText {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; /* Ajouter la police Montserrat */
  font-weight: 500; /* Utiliser un poids de police plus gras */
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.backButton {
  padding: 10px 20px;
  background-color: #90ADBF;
  color : white;
  border: solid 1px #3E4C59 ;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
}

.backButton:hover {
  background-color:#C7DEF0;
  color: #3E4C59;
  border-color: #3E4C59;
}

.submitButton {
  padding: 10px 20px;
  background-color: #FFC1C3;
  color: #3E4C59;
  border: solid 1px #3E4C59 ;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
}

.submitButton:hover {
  background-color:#da84a4;
  color: #fff;
}

.score {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.scoreValue {
  font-size: 20px;
  background-color: #f87171;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 0 10px;
}

.totalValue {
  font-size: 20px;
  color: #333;
}
